body{
    padding: 0;
    margin: 0;
    text-align: center;
}


.container{
    margin: 100px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2px;
}

.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 4px solid white;
}

#red{
    background-color: red;
}

#orange{
    background-color:orange;
}

#greenyellow{
    background-color:greenyellow;
}

#aqua{
    background-color: aqua;
}